<style>
    * { font-family: 'Fira Code'; }
    body { background-color: #2b2727; }
    span.dummy { margin-left: 16px; }
    strong { margin-left: 8px; }
    strong.Neutral { color: white; }
    strong.Keyword { color: lightblue; }
    strong.Enclosing { color: #2aa198; }
    strong.Id { color: white; }
    strong.Op { color: red; }
    strong.Comment { color: lightgrey; }
</style>
